---
title: Blog
layout: "base.njk"
cssPath: "/css/pages.css"
---
{% include 'nav.njk' %}


<header class="tablet-desktop header2">
    <img src="../../img/tratamentos/header.png" alt="Foto de uma menina fazendo exercício na fisioterapia">
    <div class="header-text">
        <h2>
            Tratamentos
        </h2>
    </div>
</header>  

<section class="pages">
    <a href="/blog" class="back">
        <img src="../../img/svg/back.svg" alt="flecha para voltar">
        <h2>Voltar para blog</h2>
    </a>
    <div class="wrap-info">
        {% if thumbnail %}
          <img src="{{ thumbnail }}" alt="" />
        {% endif %} 
        <div class="right-info">
             {{ texto | markdown | safe }}
            <p>
                <b>
                    Agende sua avaliação e descubra a causa da sua dor com um tratamento seguro, individualizado e sem medicação.
                </b>
            </p>
            <a href="https://api.whatsapp.com/send?phone=5541999683915&text=Estava%20no%20site%20e%20gostaria%20de%20agendar%20uma%20consulta." class="brownButton">Agende sua consulta</a>
        </div>
    </div>
</section>

{% include 'footer.njk' %}
