<footer>
    <div class="wrap-footer">
        <div class="left-footer">
            <img src="../img/logo-footer.png" alt="">
        </div>
        <div class="right-footer">
            <p>Rua Acyr Guimarães, 436 - 1°. andar, sala 105 - Água Verde, Curitiba - PR, 80240-230</p>
            <div class="icons">
                <a href=""><img src="../img/svg/instagram.svg" alt=""></a>
                <a href=""><img src="../img/svg/whatsapp.svg" alt=""></a>
            </div>
        </div>
    </div>
    <a class="nami" href="https://namiconsultoria.com.br">Desenvolvido por Nami Consultoria</a>
</footer>