<footer>
    <div class="wrap-footer">
        <div class="left-footer">
            <img src="../../img/logo-footer.png" alt="logo da Dra Camila">
        </div>
        <div class="right-footer">
            <p>Rua Acyr Guimarães, 436 - 1°. andar, sala 105 - Água Verde, Curitiba - PR, 80240-230</p>
            <div class="icons">
                <a href="https://www.instagram.com/dracamilagandolfo/"><img src="../../img/svg/instagram.svg" alt="ícone com símbolo do instagram"></a>
                <a href="https://api.whatsapp.com/send?phone=5541999683915&text=Estava%20no%20site%20e%20gostaria%20de%20agendar%20uma%20consulta."><img src="../../img/svg/whatsapp.svg" alt="ícone com símbolo do Whatsapp"></a>
            </div>
        </div>
    </div>
    <a class="nami" href="https://namiconsultoria.com.br">Desenvolvido por Nami Consultoria</a>
</footer>