<footer>
    <div class="wrap-footer">
        <div class="left-footer">
            <img 
                src="../../img/logo-footer.png" 
                srcset="../../img/logo-footer@2x.png 2x, ../../img/logo-footer@3x.png 3x" 
                alt="Logo da Dra Camila" 
            />
        </div>
        <div class="right-footer">
            <p>Rua Acyr Guimarães, 436 - 1°. andar, sala 105 - Água Verde, Curitiba - PR, 80240-230</p>
            <div class="icons">
                <a href="https://www.instagram.com/dracamilagandolfo/">
                    <img 
                        src="../../img/icons/instagram.png" 
                        srcset="../../img/icons/instagram@2x.png 2x, ../../img/icons/instagram@3x.png 3x"
                        alt="ícone com símbolo do instagram"></a>
                <a href="https://api.whatsapp.com/send?phone=5541999683915&text=Estava%20no%20site%20e%20gostaria%20de%20agendar%20uma%20consulta.">
                    <img 
                        src="../../img/icons/whatsapp.png"
                        srcset="../../img/icons/whatsapp@2x.png 2x, ../../img/icons/whatsapp@3x.png 3x"
                        alt="ícone com símbolo do Whatsapp"></a>
            </div>
        </div>
    </div>
    <a class="nami" href="https://namiconsultoria.com.br">Desenvolvido por Nami Consultoria</a>
</footer>