<nav class="nav">
  <a href="/">
    <img src="../../img/svg/logo-nav.svg" alt="logo da Dra Camila">
  </a>

  <label>
    <input type="checkbox" />
    <span class="menu"> 
      <span class="hamburger only-mobile">
        <p class="abrir">Menu</p>
        <p class="fechar">Fechar</p>
      </span> 
    </span>

    <ul>
      <img src="../../img/svg/logo-nav.svg" alt="Logo Dra. Camila Gandolfo" class="only-mobile">
      <li>
        <a class="links" href="/">Home</a>
      </li>
      <li>
        <a class="links" href="/tratamentos">Tratamentos</a>
      </li>
      <li>
        <a class="links" href="/blog">Blog</a>
      </li>
      <li>
        <a class="links" href="/contato">Contato</a>
      </li>
    </ul>
  </label>
</nav> 