$background: #f2eae4;
$marrom-100: #6f130b;
$marrom-900: #3d0814;
$verde-100: #f2f4ea;
$verde-900: #2c3f36;



// cores fran

$bege-500: #f2ebe4;
$bege-700: #d0b2b2;
$bege-800: #cdb6a0;
$bege-900: #c4A68A;
$branco: #ffffff;
$verde-800: #636363;
$cinza-700: #646464;





