---
title: Dra. Camila Gandolfo - Blog
layout: "base.njk"
cssPath: "/css/blog.css"
---
{% include 'nav.njk' %}

<header class="header2">
    <img class="tablet-desktop" src="../img/blog/header.png" alt="Foto de uma menina fazendo exercício na fisioterapia">
    <img class="only-mobile" src="../img/blog/header-mob.png" alt="Foto de uma menina fazendo exercício na fisioterapia">
    <div class="header-text">
        <h2>
            Blog
        </h2>
    </div>
</header>  



<section class="blog">
  <div class="blog-title">
    <h1>Blog</h1>
    <h2>Conteúdos pensados para o seu bem-estar.</h2>
  </div>
  <div class="blog-wrap">
    {% for post in collections.post | reverse | limit (8) %}
      <div class="blog-item">
        <a href="{{ post.url }}">
          <img src="{{ post.data.thumbnail }}" alt="" />
          <div class="title">
            <p class="date">{{ post.data.date | postDate }}</p>
            <h3>{{ post.data.title }}</h3>
            <h4>{{ post.data.subtitle }}</h4>
            <p class="description">{{ post.data.description }}</p>
            <p class="brownButton">Saiba mais</p>
          </div>
        </a> 
      </div>
    {%- endfor %}
  </div>
</section>



{% include 'footer.njk' %}