---
title: Dra. Camila Gandolfo - Fisioterapeuta Osteopata
layout: "base.njk"
cssPath: "/css/contato.css"
---

{% include 'nav.njk' %}

<section class="contato">
    <div class="title">
        <h1>Vamos juntos cuidar da sua saúde com acolhimento e técnica.</h1>
        <p>
            Entre em contato e faça seu agendamento.
        </p>
    </div>
    <div class="wrap-contato">
        <div class="left-contato">
            <a class="item" target="_blank" href="https://maps.app.goo.gl/Ni6Sirm2a94r1Gct8">
                <img    
                    src="../img/icons/address.png" 
                    srcset="../img/icons/address@2x.png 2x,  ../img/icons/address@3x.png 3x"
                    alt="botão com símbolo de endereço"
                >
                <p>Rua Acyr Guimarães, 436 - 1°. andar, sala 105 - Água Verde, Curitiba - PR</p>
            </a>
            <a class="item" target="_blank" href="https://www.instagram.com/dracamilagandolfo/">
                <img 
                    src="../img/icons/instagram.png" 
                    srcset="../img/icons/instagram@2x.png 2x,  ../img/icons/instagram@3x.png 3x"
                    alt="botão com símbolo de instagram">
                <p>@dracamilagandolfo</p>
            </a>
            <a class="item" target="_blank" href="https://api.whatsapp.com/send?phone=5541999683915&text=Estava%20no%20site%20e%20gostaria%20de%20agendar%20uma%20consulta.">
                <img 
                src="../img/icons/whatsapp.png"
                srcset="../img/icons/whatsapp@2x.png 2x,  ../img/icons/whatsapp@3x.png 3x"
                alt="botão com símbolo de whatsapp">
                <p>+55 41 99968-3915</p>
            </a>
        </div>
        <iframe 
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3602.6714338608863!2d-49.29351092460993!3d-25.449246077549596!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94dce3a3e8f52c73%3A0x9219d650982431c2!2sDra.%20Camila%20Gandolfo%20Osteopata%20para%20Dores%20e%20Gestante%20%C3%81gua%20Verde!5e0!3m2!1spt-BR!2sjp!4v1756349891617!5m2!1spt-BR!2sjp" 
            width="610" 
            height="410" 
            style="border:0;" 
            allowfullscreen="" 
            loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>
</section>


{% include 'footer.njk' %}