---
title: Dra. Camila Gandolfo - Blog
layout: "base.njk"
cssPath: "/css/pages.css"
---

{% include 'nav.njk' %}

<header class="header2">
    <img class="tablet-desktop" src="../img/tratamentos/header.png" alt="Foto de uma menina fazendo exercício na fisioterapia">
    <img class="only-mobile" src="../img/tratamentos/header-mob.png" alt="Foto de uma menina fazendo exercício na fisioterapia">
    <div class="header-text">
        <h2>
            Tratamentos
        </h2>
    </div>
</header>  

<section class="pages">
    <a href="/tratamentos" class="back">
        <img src="../img/svg/back.svg" alt="flecha para voltar">
        <h2>Voltar para tratamentos</h2>
    </a>
    <div class="wrap-info">
        <img class="tablet-desktop" src="../img/pages/hernia.png" alt="Imagem de um paciente com profissional posicionado com as mãos na área da nuca">
        <div class="right-info">
            <h1>Hérnia de disco:</h1>
            <h2>Abordagem natural e eficiente.</h2>
            <img class="only-mobile" src="../img/pages/hernia.png" alt="Imagem de um paciente com profissional posicionado com as mãos na área da nuca">
            <p>
                A hérnia de disco ocorre quando o disco cartilaginoso que fica entre as vértebras se desloca, normalmente em razão de um desequilíbrio ou sobrecarga da coluna, e acaba sendo comprimido pelas estruturas ósseas, podendo gerar grande desconforto e dor no local, ou em outras partes do corpo (território do nervo – por onde o nervo passa).
                <br/>
                <br/>
                No tratamento, muitas vezes utilizamos o histórico do paciente (quadro doloroso, local da dor, intensidade, reincidência, etc.), somado a testes ortopédicos realizados no próprio consultório, para compreendermos onde está a lesão da saída nervosa, e se esta é a responsável pela dor, a fim de buscar a melhor conduta para cada paciente.
                <br/>
                <br/>
                Segundo estudos realizados, hoje sabemos que, em 85% dos casos de hérnia, após o período da crise (de 8 a 12 semanas), quando em condições favoráveis, esta tende a regredir naturalmente. Entretanto, durante a crise, a dor pode ocorrer a qualquer momento, e a osteopatia pode aliviar o desconforto e auxiliar no processo de recuperação, tornando-o mais curto.
                <br/>
                <br/>
                Proporcionamos um tratamento NÃO CIRÚRGICO, com maca de última geração, que realiza a descompressão e flexão, liberando e ampliando os espaços entre as vértebras, dando mais conforto e alivio ao paciente para que os discos possam retornar à sua posição de origem.
                <br/>
                <br/>
                <b>
                Agende sua avaliação e descubra como a osteopatia pode aliviar sua dor e acelerar sua recuperação, sem cirurgia.
                </b>
            </p>
            <a href="https://api.whatsapp.com/send?phone=5541999683915&text=Estava%20no%20site%20e%20gostaria%20de%20agendar%20uma%20consulta." class="brownButton">Agende sua consulta</a>
        </div>
    </div>
</section>



{% include 'footer.njk' %}