---
title: Dra. Camila Gandolfo - Fisioterapeuta Osteopata
layout: "base.njk"
cssPath: "/css/home.css"
---

{% include 'nav.njk' %}

<header class="header">
    <img class="tablet-desktop" src="../img/home/header.png" alt="Foto de uma menina fazendo exercício na fisioterapia">
    <img class="only-mobile" src="../img/home/header-mob.png" alt="Foto de uma menina fazendo exercício na fisioterapia">
    <div class="header-text">
        <h2>
            Dedicação, técnica e cuidado em cada atendimento.
        </h2>
        <a href="https://api.whatsapp.com/send?phone=5541999683915&text=Estava%20no%20site%20e%20gostaria%20de%20agendar%20uma%20consulta." class="brownButton">Vamos cuidar de você?</a>
    </div>
</header>

<section class="cuidado">
    <div class="wrap-cuidado">
        <div class="left-cuidado">
            <h1>Cuidado que vai além da dor:</h1>
            <h2>Tratamento com olhar individualizado.</h2>
            <img 
                src="../img/icons/left-img.png" 
                srcset="../img/icons/left-img@2x.png 2x, ../img/icons/left-img@3x.png"
                alt="Linha de fundo" class="left-img">
            <img class="only-mobile" src="../img/home/camila.png" alt="Foto da Dra. Camila sorrindo">
            <p>Dra. Camila é fisioterapeuta com mais de 20 anos de experiência em Curitiba, onde atua em seu próprio consultório. Especialista em Osteopatia pela Escuela de Osteopatía de Madrid e em Acupuntura pelo IBRATE, também possui diversas formações complementares que ampliam sua abordagem clínica. Reconhecida pelo atendimento personalizado, dedica-se a tratar cada paciente de forma única, unindo técnica, sensibilidade e compromisso com o cuidado.</p>
            <a href="https://api.whatsapp.com/send?phone=5541999683915&text=Estava%20no%20site%20e%20gostaria%20de%20agendar%20uma%20consulta." class="brownButton">Vamos cuidar de você?</a>
        </div>
        <div class="right-cuidado">
            <img class="tablet-desktop" src="../img/home/camila.png" alt="Foto da Dra. Camila sorrindo">
        </div>
        <img src="../img/home/right-cuidado.png" class="right-img" alt="Imagem de fundo com a logo da Dra. Camila">
    </div>

</section>

<div class="tratamentos">
    <h1>
        <strong>Conheça nossos</strong> tratamentos
    </h1>
    <div class="swiper">
        <div class="swiper-wrapper">
            <a href="/osteopatia" class="swiper-slide">
                <img class="back-image" src="../img/home/osteopatia.png" alt="imagem de uma pessoa deitada com um profissionais pressionando as costas">
                <div class="text">
                    <p>Osteopatia</p>
                </div>
                <img 
                    src="../img/icons/a.png"
                    srcset="../img/icons/a@2x.png 2x"
                 class="open-link" alt="flecha para abrir o link">
            </a>
            <a href="/hernia-de-disco" class="swiper-slide">
                <img class="back-image" src="../img/home/hernia.png" alt="imagem de uma pessoa de costas com profissional apertando na região da nuca">
                <div class="text">
                    <p>Hérnia de disco</p>
                </div>
                <img 
                    src="../img/icons/a.png"
                    srcset="../img/icons/a@2x.png 2x"
                 class="open-link" alt="flecha para abrir o link">
            </a>
            <a href="/torcicolo" class="swiper-slide">
                <img class="back-image" src="../img/home/torcicolo.png" alt="Imagem de um rapaz de costas com uma mão posicionada sobre a nuca e outra nas costas">
                <div class="text">
                    <p>Torcicolo e dor nas costas</p>
                </div>
                <img 
                    src="../img/icons/a.png"
                    srcset="../img/icons/a@2x.png 2x"
                    class="open-link" alt="flecha para abrir o link">
            </a>
            <a href="/osteopatia-pediatrica" class="swiper-slide">
                <img class="back-image" src="../img/home/pediatrica.png" alt="Imagem de um bebê com uma mão de profissional massageando o pé">
                <div class="text">
                    <p>Osteopatia pediátrica</p>
                </div>
                <img 
                    src="../img/icons/a.png"
                    srcset="../img/icons/a@2x.png 2x"
                 class="open-link" alt="flecha para abrir o link">
            </a>
            <a href="/osteopatia-para-gestantes" class="swiper-slide">
                <img class="back-image" src="../img/home/gestantes.png" alt="Imagem de uma gestante deitada de barriga para cima com as mãos de um profissional sobre a barriga">
                <div class="text">
                    <p>Osteopatia para gestantes</p>
                </div>
                <img 
                    src="../img/icons/a.png"
                    srcset="../img/icons/a@2x.png 2x"
                 class="open-link" alt="flecha para abrir o link">
            </a>
            <a href="/nervo-ciatico" class="swiper-slide">
                <img class="back-image" src="../img/home/ciatico.png" alt="Imagem de uma pessoa deitada com um profissional pressionando a região da lombar">
                <div class="text">
                    <p>Nervo ciático</p>
                </div>
                <img 
                    src="../img/icons/a.png"
                    srcset="../img/icons/a@2x.png 2x"
                 class="open-link" alt="flecha para abrir o link">
            </a>
        </div>
    </div>
    <img 
        src="../img/icons/prev.png" 
        srcset="../img/icons/prev@2x.png 2x, ../img/icons/prev@3x.png 3x"
        class="swiper-button-prev" 
        alt="flecha para voltar">
    <img 
        src="../img/icons/next.png" 
        srcset="../img/icons/next@2x.png 2x, ../img/icons/next@3x.png 3x"
        class="swiper-button-next" 
        alt="flecha para avançar">
    <p> 
        Seu corpo merece atenção única.<br/>
        Entre em contato e comece sua jornada de bem-estar.
    </p>
    <div class="botoes">
        <a href="/tratamentos" class="brownButton">Saiba mais</a>
        <a href="https://api.whatsapp.com/send?phone=5541999683915&text=Estava%20no%20site%20e%20gostaria%20de%20agendar%20uma%20consulta." class="whiteButton">Entre em contato</a>
    </div>
    <img src="../img/home/arvore.png" alt="imagem de fundo">
</div>


<section class="espaco">
    <h1 class="only-mobile">Nosso espaço</h1>
    <div class="left-espaco">
        <iframe 
            width="640" 
            height="480" 
            src="https://www.youtube.com/embed/M0XgoCJXt2c?si=wegXVaXwzqyot8SZ" 
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin" 
            allowfullscreen>
        </iframe>
    </div>
    <div class="right-espaco">
        <h1 class="tablet-desktop">Nosso espaço</h1>
        <p>
            O consultório da Dra. Camila Gandolfo oferece conforto, tecnologia e um ambiente acolhedor. Com estacionamento próximo e vagas rotativas, a experiência começa com praticidade.<br/><br/>
            O espaço conta com equipamentos modernos, como a maca de flexão-distração automática, ideal para tratamentos precisos da coluna.<br/><br/>
            Cada detalhe foi pensado para proporcionar bem-estar e resultados reais.
        </p>
        <a href="https://api.whatsapp.com/send?phone=5541999683915&text=Estava%20no%20site%20e%20gostaria%20de%20agendar%20uma%20consulta." class="brownButton">Agende sua consulta</a>
    </div>
</section>

<section class="pre-footer">
    <iframe 
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3602.6714338608863!2d-49.29351092460993!3d-25.449246077549596!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94dce3a3e8f52c73%3A0x9219d650982431c2!2sDra.%20Camila%20Gandolfo%20Osteopata%20para%20Dores%20e%20Gestante%20%C3%81gua%20Verde!5e0!3m2!1spt-BR!2sjp!4v1756349891617!5m2!1spt-BR!2sjp" 
        width="600" 
        height="450" 
        style="border:0;" 
        allowfullscreen="" 
        loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade">
    </iframe>
</section>

{% include 'footer.njk' %}


<script>
    var swiper = new Swiper(".swiper", {
        slidesPerView: "auto",
        spaceBetween: 20,
        loop: true,
        grabCursor: true,
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        breakpoints: {
            360: {
                spaceBetween: 8,
            },
            768: {
                spaceBetween: 40,
            },
            1024: {
                spaceBetween: 20,
                slidesPerView: 3,
            },
        },
    });
</script>