---
title: Dra. Camila Gandolfo - Blog
layout: "base.njk"
cssPath: "/css/pages.css"
---

{% include 'nav.njk' %}
<header class="header2">
    <img class="tablet-desktop" src="../img/tratamentos/header.png" alt="Foto de uma menina fazendo exercício na fisioterapia">
    <img class="only-mobile" src="../img/tratamentos/header-mob.png" alt="Foto de uma menina fazendo exercício na fisioterapia">
    <div class="header-text">
        <h2>
            Tratamentos
        </h2>
    </div>
</header>  

<section class="pages">
    <a href="/tratamentos" class="back">
        <img src="../img/svg/back.svg" alt="flecha para voltar">
        <h2>Voltar para tratamentos</h2>
    </a>
    <div class="wrap-info">
        <img class="tablet-desktop" src="../img/pages/ciatico.png" alt="imagem com paciente deitado e profissional com as duas mãos apoiadas e pressionando na região da lombar">
        <div class="right-info">
            <h1>Nervo ciático:</h1>
            <h2>Entenda e trate sua dor no ciático.</h2>
            <img class="only-mobile" src="../img/pages/ciatico.png" alt="imagem com paciente deitado e profissional com as duas mãos apoiadas e pressionando na região da lombar">
            <p>
                Você já sentiu uma dor nas costas, que irradia para a perna, e se pegou pensando: será que o meu ciático está doendo?
                <br/>
                <br/>
                Existem algumas coisas nas quais você precisa prestar atenção:
            </p>
            <ol>
                <li>
                    A dor é nas costas, ou na parte de trás e na lateral da perna?
                </li>
                <li>
                    A dor piora dependendo do movimento do corpo?
                </li>
                <li>
                    Dói apenas em uma das pernas?
                </li>
                <li>
                    A dor alivia dependendo da posição em que você está?
                </li>
            </ol>
                <p>
                Se alguma ou todas as respostas acima fazem parte do seu quadro doloroso, possivelmente você está com uma crise no nervo ciático.
                <br/>
                As dores ciáticas podem ser facilmente confundidas com alterações de compressão da raiz nervosa e hérnias. O diagnóstico diferencial fará toda diferença no tratamento.
                <br/>
                <br/>
                Em quadros de dor nervosa, você NÃO DEVE, de forma alguma, alongar seu corpo, pois isso irá tensionar ainda mais o nervo, e gerar mais dor.O que você DEVE fazer é se movimentar, mesmo que com dificuldade, pois o movimento irá ajudar as articulações a se equilibrarem.
                <br/>
                <br/>
                Se ainda assim você sentir dor, procure ajuda, porque reorganizando as articulações, seu corpo não precisará passar pelo quadro doloroso por muito tempo.
                <br/>
                <br/>
                <b>
                    Agende sua avaliação e descubra a causa da sua dor com um tratamento seguro, individualizado e sem medicação.
                </b>
            </p>
            <a href="https://api.whatsapp.com/send?phone=5541999683915&text=Estava%20no%20site%20e%20gostaria%20de%20agendar%20uma%20consulta." class="brownButton">Agende sua consulta</a>
        </div>
    </div>
</section>



{% include 'footer.njk' %}