---
title: Dra. Camila Gandolfo - Blog
layout: "base.njk"
cssPath: "/css/pages.css"
---

{% include 'nav.njk' %}
<header class="header2">
    <img class="tablet-desktop" src="../img/tratamentos/header.png" alt="Foto de uma menina fazendo exercício na fisioterapia">
    <img class="only-mobile" src="../img/tratamentos/header-mob.png" alt="Foto de uma menina fazendo exercício na fisioterapia">
    <div class="header-text">
        <h2>
            Tratamentos
        </h2>
    </div>
</header>  

<section class="pages">
    <a href="/tratamentos" class="back">
        <img src="../img/svg/back.svg" alt="flecha para voltar">
        <h2>Voltar para tratamentos</h2>
    </a>
    <div class="wrap-info">
        <img class="tablet-desktop" src="../img/pages/gestantes.png" alt="imagem com uma gestante com a barriga para cima e profissional apoiando as mãos sobre a barriga">
        <div class="right-info">
            <h1>Osteopatia para gestantes:</h1>
            <h2>Uma gravidez mais leve.</h2>
            <img class="only-mobile" src="../img/pages/gestantes.png" alt="imagem com uma gestante com a barriga para cima e profissional apoiando as mãos sobre a barriga">
            <p>
              Sinta-se mais leve e feliz durante a gravidez. Sem contraindicações, a osteopatia pode proporcionar, através da manipulação de certos pontos e toques suaves, maior conforto e relaxamento.
              <br/>
              <br/>
              Neste momento tão especial e peculiar que é a gestação, podemos tratar o seu inchaço nos pés, dores na lombar e coluna, e até mesmo auxiliar o seu sistema digestivo, com relaxamento em pontos específicos da barriga, reduzindo problemas comuns como refluxo, enjoo e azia.
              <br/>
              <br/>
              E o mais importante, seu pequeno também se beneficia do tratamento, afinal de contas, com o seu sistema corporal equilibrado, o desenvolvimento do bebê no seu útero é o ideal.
              <br/>
              <br/>
              Com toques diretamente na origem do incômodo, e pensando em “tratar pessoas, não apenas seus sintomas”, através de um tratamento individual e específico para cada caso, de forma humanizada, sem medicações e com resultado rápido.
              <br/>
              <br/>
              <b>
              Agende sua sessão e viva a gestação com mais conforto e equilíbrio.
              </b>
            </p>
            <a href="https://api.whatsapp.com/send?phone=5541999683915&text=Estava%20no%20site%20e%20gostaria%20de%20agendar%20uma%20consulta." class="brownButton">Agende sua consulta</a>
        </div>
    </div>
</section>



{% include 'footer.njk' %}