---
title: Dra. Camila Gandolfo - Blog
layout: "base.njk"
cssPath: "/css/pages.css"
---

{% include 'nav.njk' %}

<header class="header2">
    <img class="tablet-desktop" src="../img/tratamentos/header.png" alt="Foto de uma menina fazendo exercício na fisioterapia">
    <img class="only-mobile" src="../img/tratamentos/header-mob.png" alt="Foto de uma menina fazendo exercício na fisioterapia">
    <div class="header-text">
        <h2>
            Tratamentos
        </h2>
    </div>
</header>  

<section class="pages">
    <a href="/tratamentos" class="back">
        <img src="../../img/icons/back.png"
        srcset="../../img/icons/back@2x.png 2x, ../../img/icons/back@3x.png 3x" alt="flecha para voltar">
        <h2>Voltar para tratamentos</h2>
    </a>
    <div class="wrap-info">
        <img class="tablet-desktop" src="../img/pages/pediatrica.png" alt="imagem com um bebê e profissional segurando e pressionando um dos pés">
        <div class="right-info">
            <h1>Osteopatia pediátrica:</h1>
            <h2>Cuidado essencial para a saúde do bebê.</h2>
            <img class="only-mobile" src="../img/pages/pediatrica.png" alt="imagem com um bebê e profissional segurando e pressionando um dos pés">
            <p>
                Toda criança deveria passar por uma sessão de Osteopatia Pediátrica.
                <br/>
                Os bebês muito chorosos e irritados podem estar com algumas dificuldades, o seu corpo não está conseguindo encontrar um equilíbrio e, consequentemente, eles choram, como única forma de avisar aos pais.
                <br/>
                <br/>
                Dentre as maiores dificuldades de bebês e crianças com choro e irritabilidade excessivos estão:
            </p>
            <ul>
                <li>
                    Dificuldade para relaxar;
                </li>
                <li>
                    Problemas digestivos;
                </li>
                <li>
                    Refluxo gastroesofágico;
                </li>
                <li>
                    Constipação;
                </li>
                <li>
                    Disquesia (dificuldade de evacuar);
                </li>
                <li>
                    Cólicas;
                </li>
                <li>
                    Problemas de deglutição (que dificultam a amamentação);
                </li>
                <li>
                    Torcicolo;
                </li>
                <li>
                    Assimetrias cranianas (cabeça torta ou achatada).
                </li>
            </ul>
            <p>
                O objetivo do tratamento osteopático é equilibrar as tensões do corpo e promover o bem-estar dos pequenos. Quanto antes se realizar o tratamento, maiores as chances de que o bebê, que está com dificuldades e desconfortos, se libere das tensões, podendo crescer sem dificuldade. Os resultados costumam aparecer já nas primeiras sessões.
                <br/>
                <br/>
                A Dra. Camila, além de toda a formação pela Escuela de Osteopatia de Madrid, tem diversas formações em Osteopatia Pediátrica pela Osteokids. Como mãe, ela sempre procura o melhor para os seus filhos e, com isso, se especializou em bebês e crianças, para proporcionar o mesmo benefício que concdeu a seus filhos, aos seus pacientes.
                <br/>
                <br/>
                O atendimento é individualizado, realizado com horário previamente agendado em um consultório onde as crianças de bebês são acolhidos de forma amorosa e respeitosa.
                <br/>
                <br/>
                <b>
                Agende uma avaliação e proporcione mais conforto e bem-estar ao seu pequeno desde os primeiros dias de vida.
                </b>
            </p>
            <a href="https://api.whatsapp.com/send?phone=5541999683915&text=Estava%20no%20site%20e%20gostaria%20de%20agendar%20uma%20consulta." class="brownButton">Agende sua consulta</a>
        </div>
    </div>
</section>



{% include 'footer.njk' %}