---
title: Dra. Camila Gandolfo - Blog
layout: "base.njk"
cssPath: "/css/pages.css"
---

{% include 'nav.njk' %}

<header class="tablet-desktop header2">
    <img src="../img/tratamentos/header.png" alt="Foto de uma menina fazendo exercício na fisioterapia">
    <div class="header-text">
        <h2>
            Tratamentos
        </h2>
    </div>
</header>  

<section class="pages">
    <a href="/tratamentos" class="back">
        <img src="../img/svg/back.svg" alt="flecha para voltar">
        <h2>Voltar para tratamentos</h2>
    </a>
    <div class="wrap-info">
        <img src="../img/pages/osteopatia.png" alt="imagem com paciente deitado e profissional com as duas mãos apoiadas sobre as costas">
        <div class="right-info">
            <h1>Osteopatia:</h1>
            <h2>Equilíbrio corporal e alívio duradouro</h2>
            <p>
                A osteopatia é uma abordagem terapêutica inovadora que utiliza técnicas manuais para diagnosticar e tratar diversas condições, com um foco especial na origem das dores, em vez de apenas tratar os sintomas onde eles se manifestam. Ao contrário de outros métodos que se concentram no alívio imediato, a osteopatia busca entender a causa subjacente da dor, reconhecendo que ela pode ser resultado de um desequilíbrio em outra parte do corpo. Esse equilíbrio é essencial para prevenir recorrências e manter o bem-estar a longo prazo.
                <br/>
                <br/>
                A Dra. Camila Gandolfo, com mais de 20 anos de experiência na área, é uma especialista reconhecida em osteopatia. Ao longo de sua carreira, ela tem ajudado inúmeros pacientes a encontrar alívio para suas dores e a restabelecer sua saúde.
                <br/>
                <br/>
                Com uma abordagem cuidadosa e personalizada, Dra. Camila combina seu vasto conhecimento em osteopatia com sua dedicação em oferecer o melhor cuidado possível.
                <br/>
                Ela entende que cada paciente é único e, por isso, ajusta suas técnicas para atender às necessidades específicas de cada pessoa, sempre com o objetivo de devolver o equilíbrio ao corpo e promover a saúde integral.
                <br/>
                <br/>
                Seja para dores crônicas, lesões esportivas, problemas posturais ou outras condições, a osteopatia, sob os cuidados da Dra. Camila Gandolfo, oferece uma solução eficaz e segura para restaurar a qualidade de vida dos pacientes.
                <br/>
                <br/>
                <b>
                Marque agora sua avaliação e descubra como a osteopatia pode transformar sua saúde.
                </b>
            </p>
            <a href="https://api.whatsapp.com/send?phone=5541999683915&text=Estava%20no%20site%20e%20gostaria%20de%20agendar%20uma%20consulta." class="brownButton">Agende sua consulta</a>
        </div>
    </div>
</section>



{% include 'footer.njk' %}