---
title: Dra. Camila Gandolfo - Blog
layout: "base.njk"
cssPath: "/css/pages.css"
---

{% include 'nav.njk' %}

<header class="header2">
    <img class="tablet-desktop" src="../img/tratamentos/header.png" alt="Foto de uma menina fazendo exercício na fisioterapia">
    <img class="only-mobile" src="../img/tratamentos/header-mob.png" alt="Foto de uma menina fazendo exercício na fisioterapia">
    <div class="header-text">
        <h2>
            Tratamentos
        </h2>
    </div>
</header>  

<section class="pages">
    <a href="/tratamentos" class="back">
        <img src="../../img/icons/back.png"
        srcset="../../img/icons/back@2x.png 2x, ../../img/icons/back@3x.png 3x" alt="flecha para voltar">
        <h2>Voltar para tratamentos</h2>
    </a>
    <div class="wrap-info">
        <img class="tablet-desktop" src="../img/pages/torcicolo.png" alt="imagem de paciente sentado de costas e profissional apoiando uma das mãos no ombro e outra nas costas">
        <div class="right-info">
            <h1>Torcicolo e dor nas costas:</h1>
            <h2>Avaliação e tratamento individualizado.</h2>
            <img class="only-mobile" src="../img/pages/torcicolo.png" alt="imagem de paciente sentado de costas e profissional apoiando uma das mãos no ombro e outra nas costas">
            <p>
                Em algum momento você já sentiu dificuldades para girar a cabeça, ou percebeu que ao virar o rosto seu pescoço encontra uma limitação e trava?
                <br/>
                <br/>
                O torcicolo surge normalmente de forma repentina, e frequentemente está associado a períodos de maior stress, ou em épocas mais frias, a um estado gripal.
                <br/>
                <br/>
                É importante não forçar o movimento enquanto ele estiver limitado, ou a contratura no local pode se agravar e ficar ainda maior. A dor e a limitação de movimento normalmente permanecem por 48 (quarenta e oito) horas e, após este período, o corpo equilibrado consegue se reorganizar.
                <br/>
                <br/>
                O tratamento clássico do torcicolo recomenda o descanso e a aplicação de calor no local, a fim de buscar a analgesia e o relaxamento muscular.
                <br/>
                <br/>
                A osteopatia intervém na detecção das causas e no tratamento dos desequilíbrios musculoesqueléticos, que provocam a dor e limitam os movimentos, através de técnicas manuais específicas para cada tipo de bloqueio.
                <br/>
                <br/>
                <b>
                Agende seu atendimento e recupere seus movimentos com mais conforto e segurança.
                </b>
            </p>
            <a target="_blank" href="https://api.whatsapp.com/send?phone=5541999683915&text=Estava%20no%20site%20e%20gostaria%20de%20agendar%20uma%20consulta." class="brownButton">Agende sua consulta</a>
        </div>
    </div>
</section>



{% include 'footer.njk' %}