---
title: Dra. Camila Gandolfo - Fisioterapeuta Osteopata
layout: "base.njk"
cssPath: "/css/tratamentos.css"
---

{% include 'nav.njk' %}

<header class="tablet-desktop header2">
    <img src="../img/tratamentos/header.png" alt="Foto de uma menina fazendo exercício na fisioterapia">
    <div class="header-text">
        <h2>
            Tratamentos
        </h2>
    </div>
</header>  

<section class="conheca">
    <h1><strong>Conheça nossos </strong>tratamentos</h1>
    <p>Por meio de uma avaliação clínica detalhada e técnicas manuais específicas, nossos tratamentos buscam restaurar o equilíbrio do corpo, promovendo a recuperação funcional, o alívio da dor e a manutenção da saúde de forma natural.</p>
    <a href="https://api.whatsapp.com/send?phone=5541999683915&text=Estava%20no%20site%20e%20gostaria%20de%20agendar%20uma%20consulta." class="brownButton">Vamos cuidar de você?</a>
</section>

<section class="itens">
    <a class="item" href="/osteopatia">
        <img src="../img/home/osteopatia.png" alt="imagem de paciente deitada e profissional com as mãos apoiadas nas costas">
        <p>Osteopatia</p>
    </a>
    <a class="item" href="/hernia-de-disco">
        <img src="../img/home/hernia.png" alt="imagem de paciente sentada de costas e profissional pressionando a região da nuca">
        <p>HÉRNIA DE DISCO</p>
    </a>
    <a class="item" href="/torcicolo">
        <img src="../img/home/torcicolo.png" alt="imagem de pacente sentado de costas e profissional apoiando as mãos no ombro e no pescoço">
        <p>TORCICOLO E DOR<br/> NAS COSTAS</p>
    </a>
    <a class="item" href="/osteopatia-pediatrica">
        <img src="../img/home/pediatrica.png" alt="imagem de um bebê deitado e profissional segurando e pressionando um dos pés">
        <p>OSTEOPATIA PEDIÁTRICA</p>
    </a>
    <a class="item" href="/osteopatia-para-gestantes">
        <img src="../img/home/gestantes.png" alt="iamgem de uma gestante com a barriga para cima e profissional apoiando as mãos sobre a barriga">
        <p>OSTEOPATIA<br/> PARA GESTANTES</p>
    </a>
    <a class="item" href="/nervo-ciatico">
        <img src="../img/home/ciatico.png" alt="imagem de paciente deitado e profissional pressinando na região da lombar">
        <p>NERVO CIÁTICO</p>
    </a>
</section>







{% include 'footer.njk' %}